{% extends 'index.html' %}
{% block title %} - Delete Entry{% endblock title%}
{% block content %}
<div class="content-section shadow-sm">
    <form method="post">
        <fieldset class="form-group">
            <legend class="border-bottom mb-1">Delete Entry</legend>
        </fieldset>
        {% csrf_token %}
        <div class="alert alert-warning">Are you sure you want to delete: <strong>{{ entry.title }}</strong></div>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a type="button" class="btn btn-light" href="{% url 'collection-entries' %}">Cancel</a>
    </form>
</div>
{% endblock content %}