{% extends "index.html" %}
{% block title %} - Entry Collection {% endblock title %}
{% block content %}
<div class="content-section shadow-sm">
    <h1 class="border-bottom mb-4">Collection</h1>
    <table class="table collection">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">Title</th>
                <th scope="col">Created</th>
                <th scope="col">Comments</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td scope="row">
                    <a target="_blank" href="{% url 'details' entry.slug %}">{{ entry.title }}</a>
                </td>
                <td class="text-nowrap">
                    <small>{{ entry.created_at|date:"Y-m-d H:i" }}</small>
                </td>
                <td class="text-center align-middle">
                    <a target="_blank" href="#">{{ entry.comments.all.count }}</a>
                </td>
                <td class="action">
                    <a href="{% url 'change-entry' entry.slug %}" title="Change"><i class="bi bi-pencil-square"></i></a>
                    <a href="{% url 'destroy-entry' entry.id %}" title="Destroy"><i class="bi bi-x-circle"></i></a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td scope="row text-center">Nothing to display</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'pager.html' with entries=page_obj %}
{% endblock content %}