{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block title %} - {{ title }} Entry {% endblock title %}
{% block content %}
<div class="content-section shadow-sm">
    {% include 'message.html' %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        {% if entry.image %}
        <div class="form-group">
            <img src="/media/{{ entry.image }}" class="img-fluid rounded mx-auto d-block"/>
        </div>
        {% endif %}
        <div class="float-end mt-2 pt-1">
            <button type="submit" class="btn btn-primary btn-sm">{{ title }}</button>
        </div>
    </form>
</div>
{% endblock content %}