{% extends "index.html" %}
{% block content %}
<div class="content-section shadow-sm">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ title }} Entry</legend>
            {% if messages %}
                {% for message in messages %}
                <div>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="card-footer py-3 border-0">
                <div class="d-flex flex-start w-100">
                    <div class="form-outline w-100">
                        <input type="text" name="created_at" class="form-control" id="created_at" value="{{ entry.created_at }}" required="">
                        <label class="form-label" for="created_at">Title*</label>
                    </div>
                </div>
                <div class="d-flex flex-start w-100">
                    <div class="form-outline w-100">
                        <input type="text" name="title" class="form-control" id="title" value="{{ entry.title }}" required="">
                        <label class="form-label" for="title">Title*</label>
                    </div>
                </div>
                <div class="d-flex flex-start w-100">
                    <div class="form-outline w-100">
                        <textarea class="form-control" id="content" rows="4" name="content"
                                  style="background: #fff;" required="">{{ entry.content }}</textarea>
                        <label class="form-label" for="content">Content*</label>
                    </div>
                </div>
                <div class="float-end mt-2 pt-1">
                    <button type="submit" class="btn btn-primary btn-sm">{{ title }}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}