{% extends "index.html" %}
{% block title %} - Home {% endblock title %}
{% block content %}
    {% for entry in entries %}
        <article class="media content-section shadow-sm">
            <div class="media-body">
              <div class="article-metadata">
                  <small style="float: right">
                   <a href="{% url 'details' entry.id  %}#comments">Comments: {{ entry.comments.all.count }}</a>
                </small>
                <small class="text-muted">{{ entry.created_at|date:"F d, Y H:i" }}</small>
              </div>
              <h4><a class="article-title" href="{% url 'details' entry.id  %}">{{ entry.title }}</a></h4>
                <p class="article-content">
                    {{ entry.content|slice:"0:150" }}...
                </p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}