<small class="text-muted pagination-info">Page {{ entries.number }} of {{ entries.paginator.num_pages }}</small>
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if entries.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1" title="First Page">&laquo;&laquo;</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ entries.previous_page_number }}"
                                 title="Previous Page">&laquo;</a></li>
        {% if entries.number > 3 %}
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        {% if entries.number > 4 %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
        {% endif %}
        {% endif %}
        {% for num in entries.paginator.page_range %}
        {% if entries.number == num %}
        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% elif num > entries.number|add:'-3' and num < entries.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}
        {% if entries.has_next %}
        {% if entries.number < entries.paginator.num_pages|add:'-3' %}
        <li class="page-item disabled"><span class="page-link">...</span>
        <li class="page-item"><a class="page-link" href="?page={{ entries.paginator.num_pages }}">{{ entries.paginator.num_pages }}</a></li>
        {% elif entries.number < entries.paginator.num_pages|add:'-2' %}
        <li class="page-item"><a class="page-link" href="?page={{ entries.paginator.num_pages }}">{{ entries.paginator.num_pages }}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ entries.next_page_number }}"
                                 title="Next Page">&raquo;</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ entries.paginator.num_pages }}" title="Last Page">&raquo;&raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>