{% load i18n %}
{% load crispy_forms_tags %}
<section style="background-color: #eee;">
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-11">
                <div class="card">
                    <div class="card-body" id="comments">
                        {% for comment in comments %}
                        <div class="d-flex flex-start align-items-center" id="comment-{{ comment.id }}">
                            <img class="rounded-circle shadow-1-strong me-3 account-img"
                                 {% if comment.user.profile.image %}
                                 style="background-image: url('/media/{{ comment.user.profile.image }}');background-repeat: no-repeat;background-position: center;"
                                 {% endif %}
                                 src="{% if not comment.user.profile.image %}/media/default-profile.png{% endif %}"
                                 width="60"
                                 height="60"/>
                            <div>
                                <h6 class="fw-bold text-primary mb-1">{{ comment.user.username }}</h6>
                                <p class="text-muted small mb-0">{{ comment.user.first_name }} {{ comment.user.last_name }}</p>
                                <p class="text-muted small mb-0">{{ comment.created_at|date:"F d, Y H:i" }}</p>
                            </div>
                        </div>
                        <div class="mb-4 mt-3 card p-3">{{ comment.comment|linebreaks|urlize }}</div>
                        {% endfor %}
                        {% include 'message.html' %}
                        <form method="post" id="comment-form">
                            {% csrf_token %}
                            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                <div class="d-flex flex-start w-100">
                                    <div class="form-outline w-100">
                                        {{ form|crispy }}
                                    </div>
                                </div>
                                <div class="float-end mt-2 pt-1">
                                    <button type="submit" class="btn btn-primary btn-sm">{% trans 'Comment' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>